<!-- Header Carousel -->
<app-carousel></app-carousel>

<!-- Page Content -->
<div class="container">

  <!-- Marketing Icons Section -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        Witam na mojej stronie!
      </h1>
    </div>
    <app-articules></app-articules>
  </div>
  <!-- /.row -->

  <!-- Portfolio Section -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Portfolio Heading</h2>
    </div>
    <app-portfolio></app-portfolio>
  </div>
  <!-- /.row -->

  <!-- Info Section -->
  <app-info-section></app-info-section>
  <!-- /.row -->

  <hr>

  <!-- Call to Action Section -->
  <app-call-to-action></app-call-to-action>

  <hr>
